.noAnimeWarning {
  margin-top: 32px;
}

.marginreset {
  margin: 0px;
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 16px;
}

.myAnimeCard {
  width: 40%;
}

.myAnimeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.watchlist-card {
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  background: linear-gradient(
        to right bottom,
        rgba(131, 192, 39, 0.7),
        rgba(3, 172, 19, 0.3)
    );
  z-index: 3;
  backdrop-filter: blur(2rem);
  border: none;
  color: white;
  border-radius: 8px;
}

select {
  width: 20%;
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: .5rem;
}

.anime-card-button {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: white;
  outline: none;
  background: rgb(34, 34, 34);
}

.anime-card-button:hover {
  transform: scale(1.05);
  color: var(--green4);
}

.dropDownStyle {
  border-radius: 2rem;
  width: 130px;
  background-color: #222222;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.dropDownStyle:hover {
  color: var(--green4);
}

.dropDownStyle::-webkit-scrollbar {
  width: 5px;
  color: white;
}

.dropDownStyle::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.dropDownStyle::-webkit-scrollbar-thumb {
  background: var(--green4); 
}

.dropDownStyle::-webkit-scrollbar-thumb:hover {
  background: var(--primary); 
}

select.dropDownStyle {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  appearance: none;
}

select.dropDownStyle:focus {
  background-image:
    linear-gradient(45deg, var(--green4) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, var(--green4) 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
  appearance: none;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

@media only screen and (max-width: 600px) {
  .myAnimeCard {
    width: auto;
    margin-right: 0;
  }


  .watchlist-card {
    width: 300px;
  }

  .myAnimeList {
    justify-content: center;
  }

  .anime-card-button {
    font-size: 1.2rem;
  }
}
