.noAnimeWarning {
    margin-top: 32px;
}

.myAnimeBtn {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
}

h5 {
    margin-bottom: 16px;
}

#watchlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#anime-watchlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}