#submittt {
    width: auto;
    height: auto;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 0.5rem 1.2rem;
    margin-left: 8px;
    border-radius: 8px;
    border: none;
    color: white;
    outline: none;
    background-color: #111;
    transition: all 0.5s;
}

#submittt:hover {
    color: #03AC13;
    background-color: #111;
    transition: all 0.5s;
}