header {
  background-color: #111111;
  height: 260px;
}

h1,
h4 {
  color: #fff;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

.susi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #232323;
  padding: 24px;
  border-radius: 8px;
}

@media screen and (max-width: 640px) {
  .susi {
    padding: 8px;
    font-size: small;
    margin-top: 8px;
  }
}

nav a {
  padding: 8px 16px;
  margin: 0 16px;
  transition: all 0.2s;
}

nav a:hover {
  color: #648d28;
  border-radius: 8px;
}
#menu {
    display: none;
    color: white;
}

@media screen and (max-width: 500px) {
  .susi {
    position: relative;
    display: inline-block;
  }
  .dropDownContent {
    display: none;
    margin: 0 auto;
    /* position: absolute; */
    background-color: #222222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .susi:hover .dropDownContent {
      display: flex;
      flex-direction: column;
  }

  #menu {
      display: block;
  }
}
